# Virtual environment
venv/

# Python cache files
__pycache__/
*.pyc

# Ignore everything in src and output directories
src/*
output/*

# But keep the directories by not ignoring .gitkeep files
!src/.gitkeep
!output/.gitkeep